{% extends "e_assist/index.html" %}
{% load static %}
{% block content %}
    <!-- about -->
	<div class="about">
		<div class="container">
			<h3 class="w3ls-title">About Us</h3>
			<div class="about-w3ls-row">
				<div class="col-md-5 about-left">
					<img src="{% static 'images/img1.jpg' %}" class="img-responsive" alt=""/>
				</div>
				<div class="col-md-7 about-right">

					<p>Children are innovators, problem solvers, communicators and leaders.
						At kindergarten, they learn about science, mathematics, technology, language and literacy, music and art.
						Teachers create learning environments where children are valued, happy and safe,
						where their identity and culture is celebrated, and where children can explore and
						learn about the world around them, developing skills and growing knowledge and understanding.</p>
					<p>Together with families and qualified teachers extend and progress children’s learning,
						supporting every child to be competent and confident in their world.</p>
					<p></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- team -->
	<div class="team agileits">
		<div class="team-info">
			<div class="container">
				<h3 class="w3ls-title">Our Team</h3>
				<div class="team-row">
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="{% static 'images/t1.jpg' %}" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Smith</h4>
									<p>Chairman</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="{% static 'images/t2.jpg' %}" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Michael</h4>
									<p>Staff</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="{% static 'images/t3.jpg' %}" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Sophia </h4>
									<p>Staff</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="{% static 'images/t4.jpg' %}" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Laura</h4>
									<p>Staff</p>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
{% endblock content %}
