{% extends "e_assist/index.html" %}
{% load static %}
{% block content %}
	<div class="wrapper">
		<article class="img-info">
			<h4>Our Mission</h4>
                <p>Kindergarten is a vibrant learning community where families, staff and
                    work together to create a rich environment that supports the development of, and
                    adds to, each individual’s life compass.</p>

                <p>Parents are encouraged to take an active part in all aspects of the life of the centre,
                    making their association with Kindergarten enjoyable and enriching.</p>
		</article>
        <div class="img-mission">
		  <img class="img-mission" src="{% static 'images/img2.jpg' %}">
        </div>
	</div>
	<div class="services">
		<div class="container">
			<h3 class="w3ls-title">Our Services</h3>
			<div class="services-agileinfo">
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text">
						<i class="fa fa-cutlery" aria-hidden="true"></i>
						<h5>Feeding</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text2">
						<i class="fa fa-map" aria-hidden="true"></i>
						<h5>Playing</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text3">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h5>Caring</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text4">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<h5>Learning</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
{% endblock content %}
