{% extends "e_assist/index.html" %}
{% load static %}
{% block content %}
    <!-- about -->
	<!--<div class="about">
		<div class="container">
			<div class="about-agileinfo">
				<h3 class="w3ls-title">Welcome</h3>
				<p>Lorem Ipsum was popularised In sit amet sapien eros Integer dolore magna aliqua Temporibus autem quibusdam et aut officiis debitis aut
					rerum necessitatibus saepe eveniet ut et voluptates repudiandae Integer vitae ligula sed lectus consectetur pellentesque blandit nec orci. Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
			</div>
		</div>
	</div>-->
	<!-- //about -->
	<div class="wrapper">
		<article class="img-info">
			<h4>Our Mission</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante.</p>
		</article>
		<!--<div class="slidershow middle">
			<div class="slides">
		        <input type="radio" name="r" id="r1" checked>
		        <input type="radio" name="r" id="r2">
		        <input type="radio" name="r" id="r3">
		        <input type="radio" name="r" id="r4">
		        <input type="radio" name="r" id="r5">
		        <div class="slide s1">
		          <img src="{% static 'images/img1.jpg' %}" alt="">
		        </div>
		        <div class="slide">
		          <img src="{% static 'images/img2.jpg' %}" alt="">
		        </div>
		        <div class="slide">
		          <img src="{% static 'images/img3.jpg' %}" alt="">
		        </div>
		        <div class="slide">
		          <img src="{% static 'images/img4.jpg' %}" alt="">
		        </div>
		        <div class="slide">
		          <img src="{% static 'images/img5.jpg' %}" alt="">
		        </div>
	     	</div>

	        <div class="navigation">
		        <label for="r1" class="bar"></label>
		        <label for="r2" class="bar"></label>
		        <label for="r3" class="bar"></label>
		        <label for="r4" class="bar"></label>
		        <label for="r5" class="bar"></label>
	        </div>
	    </div>-->
        <div class="img-mission">
		  <img class="img-mission" src="{% static 'images/img2.jpg' %}">
        </div>
	</div>
	<!--<div class="slidershow middle">
<div class="slides">
	        <input type="radio" name="r" id="r1" checked>
	        <input type="radio" name="r" id="r2">
	        <input type="radio" name="r" id="r3">
	        <input type="radio" name="r" id="r4">
	        <input type="radio" name="r" id="r5">
	        <div class="slide s1">
	          <img src="{% static 'images/img1.jpg' %}" alt="">
	        </div>
	        <div class="slide">
	          <img src="{% static 'images/img2.jpg' %}" alt="">
	        </div>
	        <div class="slide">
	          <img src="{% static 'images/img3.jpg' %}" alt="">
	        </div>
	        <div class="slide">
	          <img src="{% static 'images/img4.jpg' %}" alt="">
	        </div>
	        <div class="slide">
	          <img src="{% static 'images/img5.jpg' %}" alt="">
	        </div>
      </div>

      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
      </div>
      <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">
        <div class="slide s1">
          <img src="{% static 'images/img1.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'images/img2.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'images/img3.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'images/img4.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'images/img5.jpg' %}" alt="">
        </div>
      </div>

      <div class="navigation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
      </div>
    </div>-->
	<!-- //welcome -->
	<!-- services -->
	<div class="services">
		<div class="container">
			<h3 class="w3ls-title">Our Services</h3>
			<div class="services-agileinfo">
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text">
						<i class="fa fa-cutlery" aria-hidden="true"></i>
						<h5>Feeding</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text2">
						<i class="fa fa-map" aria-hidden="true"></i>
						<h5>Playing</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text3">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h5>Caring</h5>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 services-w3lsgrids">
					<div class="services-w3text srvs-w3text4">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<h5>Learning</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
{% endblock content %}
