{% extends "e_assist/index.html" %}
{% load static %}
{% block content %}
    <!-- about -->

<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 13px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>

    <div class="about">
        <div class="container">
            <!--<h3 class="w3ls-title">{{ user.username }}'s  Enrolled Child</h3>-->
            <h3 style="text-align:let; color:black; font-size:300%;">{{ user.username }}'s  Enrolled Child</h3>
            <br>

                <div class="col-md-8">
                    <table id="t01">
                        <tr>
                        <th><b>Name</b></th>
                        <th><b>Gender</b></th>
                        <th><b>Date of Birth</b></th>
                        <th><b>Nationality</b></th>
                        <th><b>Address</b></th>
                        <th><b>Guardian</b></th>
                        <th><b>Relation_Guardian</b></th>
                        <th><b>Check_Activity</b></th>
                        </tr>

                        {% for child in children %}
                            {% if child.user_id == user_id %}
                            <tr>
<!--                                <td><a href="{% url 'display_child_profile' pk=child.pk %}" >{{ child.child_name }}</td> -->
                            </a>
                            <td>{{ child.child_name }}</td>
                            <td>{{ child.gender }}</td>
                            <td>{{ child.date_of_birth }}</td>
                            <td>{{ child.nationality }}</td>
                            <td>{{ child.address }}</td>
                            <td>{{ child.guardian_name.guardian_name }}</td>
                            <td>{{ child.guardian_name.relation_guardian }}</td>
                            <td><a href="{% url 'display_child_activity_list' pk=child.pk %}" ><b>Check Activity</b></td>
                            </tr>

                            {% else %}

                            {% endif %}
                        {% endfor %}
                    </table>

                    <div class="border-top pt-3">
                        <medium class="text-muted">
                        <a class="ml-2" href="{% url 'enrol' %}">Back</a>
                        </medium>
                    </div>
                </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    {% endblock content %}
