{% extends "e_assist/index.html" %}
{% load static %}
{% block content %}
    <!-- about -->

<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 13px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>

<br><br><br>
<div class="about">
        <div class="container">
            <!--<h3 class="w3ls-title">{{ user.username }}'s  Enrolled Child</h3>-->
            <h3 style="text-align:left; color:black; font-size:300%;">Activity Details</h3>
            <br>
                <div class="col-md-8">
                    <table id="t01">
                      <tr>
                        <th><b>Activity Name</b></th>
                        <th><b>Activity Description</b></th>
                        <th><b>Activity Date</b></th>
                        <th><b>Activity Duration</b></th>
                      </tr>
                        <br>
                            {% if query_set == None %}
                                <div class="alert alert-info">
                                    Sorry no records found !
                                </div>
                            {% else %}
                            {% for options in query_set %}
                            <tr>
                                <td>{{ options.activity_name }}</td>
                                <td>{{ options.activity_description }}</td>
                                <td>{{ options.activity_Date }}</td>
                                <td>{{ options.activity_duration }}</td>
                            </tr>

                            {% endfor %}
                            {% endif %}

                    </table>
                    <br>
                    <a href="{% url 'enrol' %}" class="btn"> Back </a>
                </div>
            <div class="clearfix"> </div>
        </div>
    </div>

{% endblock content %}
